@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    background: #000;

}

* {
    color:white;
}

/* первая страница */

.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 20px 50px 0 0;
    padding: 0;
}
.navigation ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}
.navigation a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
    position: relative;
}
.navigation a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffd700;
}

/* превая страница */

.home {
    text-align: center;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    color: #ffd700;
    font-size: 3rem;
    margin: 20px;
}

.home p {
    font-size: 1.5rem;
    margin: 0;
}

.circle {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
}

/* вторая страница */

.info {
    /* width: 1440px;  */
    /* height: 634px;  */
    /* max-width: 800px; */
    /* margin: 0 auto;
    line-height: 1.6; */
    display: flex;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    background: #333;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin: 0 auto;
}

.about {
    /* display: grid;
    justify-content: center;
    flex-direction: column; */
    justify-self: start;
    margin-left: 20px;
}

.imgg {
    width: 330px;
    height: 420px;
    background: white;
    border-radius: 10%;
    justify-self: end;
    margin-right: 20px;
}

.about h3 {
    color: #ffd700;
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 600px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
    margin: 0;
}

.skills li {
    display: flex;
    align-items: center; 
    gap: 10px;
    padding: 20px;
    margin: 0;
    font-size: 16px;
}
.skills li::before {
    content: ""; 
    width: 8px; 
    height: 8px; 
    background-color: yellow;
    border-radius: 50%; 
    display: block;
}

.info h2,
.skills h4 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-right: 80px;
}

.info h2::after,
.skills h4::after {
    content: "";
    position: absolute;
    right: 0; 
    top: 50%;
    width: 70px; 
    height: 3px; 
    background-color: white;
}


/* третья страница */

.strW h2 {
    text-align: center;
    font-size: 24px;
    padding: 50px 20px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    /* justify-content: center; */
    padding: 24px 36px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: grid;
    place-items: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.card svg {
    width: 40px;
    height: 40px;
    justify-content: center;
}

/* четвертая страница */

.blog {
    background: #333;
    display: flex;
    flex-direction: column;
    /* padding: 20px;
    margin: 0 auto; */
}

.contein {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.blog h2 {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 24px;
    padding: 50px 20px;
    margin: 0;
}

.cardd {
    background: #000;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* padding: 10px; */
    width: 274.92px;

    box-sizing: border-box;
    border-radius: 20%;
    gap: 16px;

    align-items: center;
    padding: 24px 36px 40px;
}

.cardd-title {
    font-size: 24px;
    color: #ffd700;
    display: flex;
    justify-content: center;
    margin: 0;
}

.cardd-tit {
    font-size: 14px;
    color: #ffd700;
    display: flex;
    justify-content: center;
    margin: 0;
}

.cardd-content {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 0;
}

/* пятая страница */

.registr {
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
    padding: 40px 20px;
    margin: 0 auto;
}

.contact h2{
    text-align: center;
    font-size: 24px;
    padding: 50px 20px;
    margin: 0;
}

.text-tit {
    display: flex;
    flex-direction: column;
    width: 300px;

}

.text-tit h3{
    font-size: 36px;
    color: #ffd700;
    margin: 0 0 20px 0;
}

.text-tit p{
    font-size: 16px;
    margin: 0;
}

.forma {
    display: flex;
    margin: 0;
}

.pole {
    margin-bottom: 25px;
}

.pole input{
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 0 15px;
}

.pole label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.pole-mes input{
    background-color: #333;
    border-radius: 10px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    width: 300px;
    height: 104px;
    padding: 15px 15px 60px;
    /* resize: vertical; */

}

.pole-mes label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.send {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.send input{
    background-color: #ffd700;
    border: none;
    border-radius: 10px;
    color: #000;
    width: 128px;
    height: 33px;
    font-weight: bold;
    display: flex;
}

.send input:hover {
    background-color: lightyellow;
}


/* шестая страница */

.end {
    background: #ffd700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 0;
}

.end ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.end a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
    position: relative;
}
.end a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

.tp h2{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #000;
    margin: 0;
    padding: 50px 20px 10px;

}

.tp p{
    color: #333;
    font-size: 12px;
    text-align: center;
    padding: 50px 20px 10px;
    margin: 0;
}