@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


$tablet: 768px;
$desktop: 1024px;


html {
    font-family: "Roboto", sans-serif;
}

body {
    background: #000;

}

* {
    color:white;
}

/* первая страница */

.navigation {
    display: flex;
    justify-content: flex-end;
    // margin: 20px 50px 0 0;
    margin: 20px 20px 0 0;
    padding: 0;

    ul {
        display: flex;
        list-style: none;
        // gap: 30px;
        gap: 15px;
        margin: 0;
        // dob
        flex-wrap: wrap;
        justify-content: center;
    }
    a {
        text-decoration: none;
        // font-size: 16px;
        // padding: 10px 5px;
        font-size: 14px;
        padding: 8px 5px;
        position: relative;
    
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #ffd700;
        }
    }
}

/* превая страница */

.home {
    text-align: center;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        color: #ffd700;
        font-size: 2rem;
        margin: 15px;
    }

    p {
        font-size: 1.1rem;
        margin: 0;
    }
}

.circle {
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
}

/* вторая страница */

.info {
    /* width: 1440px;  */
    /* height: 634px;  */
    /* max-width: 800px; */
    /* margin: 0 auto;
    line-height: 1.6; */
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr 2fr;
    gap: 30px;
    background: #333;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin: 0 auto;
}

.about {
    /* display: grid;
    justify-content: center;
    flex-direction: column; */
    // justify-self: start;
    // margin-left: 20px;
    text-align: center;

    h3 {
        color: #ffd700;
        font-size: 28px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        margin-bottom: 30px;
        max-width: 100%;
    }
}

.imgg {
    width: 250px;
    height: 320px;
    background: white;
    border-radius: 10%;
    order: -1;
    // justify-self: end;
    // margin-right: 20px;
}


.skills {
    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        align-items: center; 
        gap: 10px;
        padding: 15px;
        margin: 0;
        font-size: 14px;

        &::before {
        content: ""; 
            width: 8px; 
            height: 8px; 
            background-color: yellow;
            border-radius: 50%; 
            display: block;
        }
    }
}

.info h2,
.skills h4 {
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-right: 60px;

    &::after {
        content: "";
        position: absolute;
        right: 0; 
        top: 50%;
        width: 50px; 
        height: 2px; 
        background-color: white;
    }
}

/* третья страница */

.strW h2 {
    text-align: center;
    font-size: 20px;
    padding: 40px 20px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    /* justify-content: center; */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: grid;
    place-items: center;
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 100px;
    height: 120px;
    max-width: 250px;
    margin: 0 auto;

    svg {
        width: 35px;
        height: 35px;
    }
}



/* четвертая страница */

.blog {
    background: #333;
    display: flex;
    flex-direction: column;
    /* padding: 20px;
    margin: 0 auto; */

    h2 {
        text-align: center;
        font-size: 20px;
        padding: 40px 20px;
        margin: 0;
    }
}

.contein {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}



.cardd {
    background: #000;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* padding: 10px; */
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 15px;
    gap: 12px;
    align-items: center;
    padding: 20px;
}

.cardd-title {
    font-size: 20px;
    color: #ffd700;
    display: flex;
    justify-content: center;
    margin: 0;
}

.cardd-tit {
    font-size: 12px;
    color: #ffd700;
    display: flex;
    justify-content: center;
    margin: 0;
}

.cardd-content {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: 0;
    text-align: center;
}

/* пятая страница */

.registr {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px 20px;
    margin: 0 auto;
}

.contact h2{
    text-align: center;
    font-size: 20px;
    padding: 40px 20px;
    margin: 0;
}

.text-tit {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    text-align: center;

    h3{
        font-size: 28px;
        color: #ffd700;
        margin: 0 0 15px 0;
    }

    p{
        font-size: 14px;
        margin: 0;
    }
}


.forma {
    display: flex;
    margin: 0;
    width: 100%;
    max-width: 400px;
    justify-content: center;
}

.pole {
    margin-bottom: 20px;

    input{
        background-color: #333;
        border-radius: 10px;
        width: 100%;
        border: none;
        box-sizing: border-box;
        height: 45px;
        padding: 0 12px;
    }

    label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 14px;
    }
}


.pole-mes {
    input{
        background-color: #333;
        border-radius: 10px;
        width: 100%;
        border: none;
        box-sizing: border-box;
        height: 90px;
        padding: 12px;
    }

    label{
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 14px;
    }
}

.send {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    input{
        background-color: #ffd700;
        border: none;
        border-radius: 8px;
        color: #000;
        width: 120px;
        height: 30px;
        font-weight: bold;

        &:hover {
            background-color: lightyellow;
        }
    }
}



/* шестая страница */
.end {
    background: #ffd700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin: 0;

    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        padding: 8px 5px;
        position: relative;
    
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
        }
    }
}


.tp {

    h2{
        display: flex;
        justify-content: center;
        font-size: 28px;
        color: #000;
        margin: 0;
        padding: 30px 20px 10px;

    }

    p{
        color: #333;
        font-size: 11px;
        text-align: center;
        padding: 30px 20px 10px;
        margin: 0;
    }
}


@media (min-width: $tablet) {
    .navigation {
        margin: 20px 30px 0 0;

        ul {
            gap: 25;
        }

        a {
            font-size: 15px;
        }
    }

    .home {
        height: 85vh;

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    .circle {
        width: 250px;
        height: 250px;
    }

    .info {
        flex-direction: row;
        gap: 30px;
        padding: 40px 30px;
    }

    .about {
        text-align: left;

        h3 {
            font-size: 32px;
        }

        p {
            font-size: 15px;
        }
    }

    .imgg {
        width: 280px;
        height: 360px;
        order: 0;
    }

    .skills {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            font-size: 15px;
        }
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        padding: 24px 30px 40px;
    }

    .card {
        height: 130px;
    }

    .contein {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .cardd {
        width: calc(50% - 20px);
        max-width: none;
    }

    .registr {
        flex-direction: row;
        align-items: flex-start;
        gap: 40px;
        padding: 40px 30px;
    }

    .text-tit {
        text-align: left;
    }
}

@media (min-width: $desktop) {
    .navigation {
        margin: 20px 50px 0 0;
        
        ul {
            gap: 30px;
        }
        
        a {
            font-size: 16px;
            padding: 10px 5px;
        }
    }

    .home {
        height: 90vh;
        
        h1 {
            font-size: 3rem;
            margin: 20px;
        }
        
        p {
            font-size: 1.5rem;
        }
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .info {
        gap: 40px;
        padding: 40px 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .about {
        justify-self: start;
        margin-left: 20px;

        h3 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 16px;
            margin-bottom: 40px;
            max-width: 600px;
        }
    }

    .imgg {
        width: 330px;
        height: 420px;
        border-radius: 10px;
        justify-self: end;
        margin-right: 20px;
    }

    .skills {
        ul {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
        
        li {
            padding: 20px;
            font-size: 16px;
        }
    }

    .info h2,
    .skills h4 {
        font-size: 24px;
        padding-right: 80px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
        
        &::after {
            width: 70px;
            height: 3px;
        }
    }

    .strW h2,
    .blog h2,
    .contact h2 {
        font-size: 24px;
        padding: 50px 20px;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 24px 36px 50px;
    }

    .card {
        width: 200px;
        height: 150px;
        padding: 20px;
        
        svg {
            width: 40px;
            height: 40px;
        }
    }

    .contein {
        gap: 24px;
        margin-bottom: 24px;
        padding: 0;
    }

    .cardd {
        width: 274.92px;
        border-radius: 20%;
        gap: 16px;
        padding: 24px 36px 40px;
    }

    .cardd-title {
        font-size: 24px;
    }

    .cardd-tit {
        font-size: 14px;
    }

    .cardd-content {
        font-size: 16px;
    }

    .registr {
        gap: 20px;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 0 auto;
    }

    .text-tit {
        display: flex;
        flex-direction: column;
        width: 300px;
        
        h3 {
            font-size: 36px;
            margin: 0 0 20px 0;
        }
        
        p {
            font-size: 16px;
        }
    }

    .pole {
        margin-bottom: 25px;
        
        input {
            border-radius: 10px;
            width: 300px;
            height: 50px;
            padding: 0 15px;
        }
    }

    .pole-mes {
        input {
            border-radius: 10px;
            width: 300px;
            height: 104px;
            padding: 15px 15px 60px;
        }
    }

    .send {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        
        input {
            width: 128px;
            height: 33px;
            border-radius: 20px;
        }
    }

    .end {
        padding: 20px 0;
        
        ul {
            gap: 30px;
        }
        
        a {
            font-size: 16px;
            padding: 10px 5px;
        }
    }

    .tp {
        h2 {
            font-size: 36px;
            padding: 50px 20px 10px;
        }
        
        p {
            font-size: 12px;
            padding: 50px 20px 10px;
        }
    }

}