@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

body {
    background: #000;

}

* {
    color:white;
}

/* первая страница */

.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 20px 50px 0 0;
    padding: 0;
}
.navigation ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
}
.navigation a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 5px;
    position: relative;
}
.navigation a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffd700;
}

/* превая страница */

.home {
    text-align: center;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    color: #ffd700;
    font-size: 3rem;
    margin: 20px;
}

.home p {
    font-size: 1.5rem;
    margin: 0;
}

.circle {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
}

/* вторая страница */

/* .info h2 {
    display: grid;
    grid-template-columns: auto 24px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.info h2::after{
    content: "";
    height: 1px;
    background-color: white;
} */


/* .info h2 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-top: 30px;
}
.info h3 {
    font-size: 36px;
}

.info p {
    font-size: 16px;
}
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
} */

.info {
    /* width: 1440px;  */
    /* height: 634px;  */
    /* max-width: 800px; */
    /* margin: 0 auto;
    padding: 40px 20px;
    line-height: 1.6; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
}

.info h3 {
    color: #ffd700;
    font-size: 36px;
    margin-bottom: 20px;
}

.info p {
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 600px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0;
    margin: 0;
}

.skills li {
    display: flex;
    align-items: center; 
    gap: 10px;
    padding: 20px;
    margin: 0;
    font-size: 16px;
}
.skills li::before {
    content: ""; 
    width: 8px; 
    height: 8px; 
    background-color: yellow;
    border-radius: 50%; 
    display: block;
}

.info h2,
.skills h4 {
    font-size: 24px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-right: 80px;
}

.info h2::after,
.skills h4::after {
    content: "";
    position: absolute;
    right: 0; 
    top: 50%;
    width: 70px; 
    height: 3px; 
    background-color: white;
}

/* третья страница */

.strW h2 {
    text-align: center;
    font-size: 24px;
    padding: 50px 20px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: grid;
    place-items: center;
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.card svg {
    width: 40px;
    height: 40px;
    justify-content: center;
}


